main{
    font-size: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 10em;
    perspective-origin: 50% calc(50% - 3em);
}

.scene{
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

.floor{
    width: 15em;
    height: 15em;
    position: absolute;
    top: 1rem;
    background-image: 
    radial-gradient(rgba(1, 11, 42, 0.75) 10%,rgba(0, 42, 82, 0.324) 20%, rgb(0, 7, 42) 60%),
    repeating-conic-gradient(from 45deg, rgba(18, 176, 215, 0.5) 0deg 90deg, rgba(16, 61, 65, 0.5) 90deg 180deg);
    background-size: 100%, 1em 1em;
    transform: translate(-50%, -50%) rotateX(90deg);
}

.cube{
    position: absolute;
    width: 2em
    
}

.center{
    position: absolute;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background-color: hotpink;
    transform: translate(-50%, -50%);
}


/* @keyframes */

@keyframes rotate{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}